<header >                
    <label class="first"><strong>ISU</strong>Corp</label>
    <label class="second">World Class Software Developer</label>    
    <div>
        <label class="third">Reservations List</label>
        <div class="p-mb-3 fourth" style="width: 24rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <div class="buttons">
            <p-button class="btcreate" label="{{ title }}" routerLink="{{ routeUrl }}"></p-button>
            <p-button class="btcontact" label="CONTACT LIST" routerLink="contact"></p-button>
        </div> 
    </div>
</header>

<body>        
    <router-outlet></router-outlet>
</body>    