<section>
  <p-table [value]="contacts"
           [paginator]="true" [rows]="8" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,20,30]"
           [totalRecords]="totalRecords" [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="contactName">Contact name
          <p-sortIcon field="contactName"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">Phone number
          <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="birthDate">Birth date
          <p-sortIcon field="birthDate"></p-sortIcon>
        </th>
        <th pSortableColumn="contactType">Contact type
          <p-sortIcon field="contactType"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
      <tr>
        <td>{{contact.contactName}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.birthDate | date }}</td>
        <td>{{contact.contactType}}</td>
        <td>
          <p-button label="EDIT"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
