body {
  padding: 2em;
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: gray;
  z-index: 2;
  width: 100%;
  height: 180px;
}

header div {
  background-color: white;
  height: 80px;
  margin-top: 50px;  
}

header div .buttons {
  display: flex;  
  flex-wrap: nowrap;
  width: 215px;
  height: 60px;
  margin-left: 63%;
  margin-top: -60px; 
}

header div .btcontact{
  margin-left: 5%;
}

.first {
  margin-left: 25%;
  font-size: 4rem;
}

.second {
  margin-left: 1%;
  font-size: 1.8rem;
}

.third {
  margin-left: 15%;
  font-size: 2rem;
  color: red;
  margin-top: 500px;
}

.fourth {
  margin-left: 35%;
  margin-top: -25px;
  font-size: 1rem;
  height: 50px;
}

section {
  padding: 140px;
}

.p-d-flex .name {
  font-size: large;
}

.p-d-flex .description {
  font-size: medium;
}

section td .pi-heart {
  color: #ff0000;
  margin-left: 15px;
}

section td .link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btcreatereservation {
  margin-left: 91%;
}
