<section>
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <p-autoComplete placeholder="Contact Name" (onSelect)="afterSeletedContact()" [(ngModel)]="selected"
                        [suggestions]="filteredContacts" (completeMethod)="filterContact($event)"></p-autoComplete>
      </div>
    </div>

    <div class="p-col-12 p-md-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span>
        <p-autoComplete placeholder="Contact Type" [(ngModel)]="selectedContactType"
                        (onSelect)="afterSeletedContactType()" [suggestions]="filteredContactsType"
                        (completeMethod)="filterContactType()" [dropdown]="true"></p-autoComplete>
      </div>
    </div>

    <div class="p-col-12 p-md-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
        <input mask="99-999999" type="text" pInputText placeholder="Phone" [(ngModel)]="reservation.phone"/>
      </div>
    </div>

    <div class="p-col-12 p-md-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
        <p-calendar inputId="basic" placeholder="Birth Date" [(ngModel)]="birthDate"></p-calendar>
      </div>
    </div>
  </div>
  <p-editor [(ngModel)]="reservation.text" [style]="{'height':'320px'}"></p-editor>
  <p-button class="btcreatereservation" (click)="createReservation()">SEND</p-button>
</section>
